/* ===== Colors ===== */
$body-color: #E4E9F7;
$primary-color: #695CFE;
$primary-black: #000000;
$primary-color-light: #F6F5FF;
$toggle-color: #DDD;
$sidebar-color: #FFF;
$text-color: #707070;


/* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;

$side-nav-width: 100px;

:root {}

@mixin minWidth_B_radius() {
    min-width: 40px;
    border-radius: 6px;
}

@mixin color_transition($f_color, $trans) {
    color: $f_color;
    transition: $trans;
}

@mixin flex_property($flex-direction, $align, $justify) {
    display: flex;

    @if $flex-direction !=null {
        flex-direction: $flex-direction;
    }

    @if $align !=null {
        align-items: $align;
    }

    @if $justify !=null {
        justify-content: $justify;
    }
}

@mixin changetheme () {
    $body-color: #18191a;
    $sidebar-color: #242526;
    $primary-color: #3a3b3c;
    $primary-color-light: #3a3b3c;
    $toggle-color: #fff;
    $text-color: #ccc;
}

::root {
    // var(--side-nav-width ,$side-nav-width);
}

body {
    background-color: $body-color !important;
    transition: $tran-05 !important;
}

::selection {
    background-color: $primary-color;
    color: #fff;
}

body.dark {
    @include changetheme();

    .s_sidebar {
        header {
            .s_toggle {
                color: $sidebar-color;
            }
        }

        li {
            a {
                &:hover {
                    .s_icon {
                        color: $text-color;
                    }

                    .s_text {
                        color: $text-color;
                    }
                }
            }
        }
    }
}

.s_project_name-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;

    .s_project_name {
        &.s_text {
            font-size: 14px;
            white-space: nowrap;
            opacity: 1;
            color: black;
            font-weight: 400;
            transition: all 0.3s ease;
        }
    }
}

.s_sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    // width: 250px;
    padding: 30px 14px;
    background: $sidebar-color;
    transition: $tran-05;
    z-index: 2;

    .s_image-text {
        .s_logo-text {
            color: black;
            font-family: "poppins";
            font-weight: 600;
            font-size: 22px;
            padding: 0 10px;

            .s_name {

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.s_close {
        width: 100px;

        // $side-nav-width: 80px÷;
        .s_text {
            // opacity: 0;
            display: none;
        }

        .s_toggle {
            transform: translateY(-50%) rotate(0deg);
        }

        .s_home {
            left: var(--side-nav-width, $side-nav-width);
        }
    }

    li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;

        a {
            list-style: none;
            height: 100%;
            width: 100%;
            background: transparent;
            @include flex_property(null, center, null);
            border-radius: 6px;
            text-decoration: none;
            transition: $tran-03;

            &:hover {
                background: $primary-color;

                .s_icon {
                    color: $sidebar-color;
                }

                .s_text {
                    color: $sidebar-color;
                }
            }
        }

    }

    header {
        .s_image {
            display: flex;
            align-items: center;
            justify-content: center;
            @include minWidth_B_radius();

            img {
                width: 40px;
                border-radius: 6px;
            }
        }

        .s_logo-text {
            display: flex;
            flex-direction: column;
        }

        .s_toggle {
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%) rotate(180deg);
            height: 25px;
            width: 25px;
            background: $primary-color;
            color: $sidebar-color;
            border-radius: 50%;
            @include flex_property(null, center, center);
            font-size: 22px;
            cursor: pointer;
            transtion: $tran-05;
        }
    }

    .s_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding: 0 10px;
        box-sizing: unset;
        min-width: 20px;
        @include color_transition($text-color, $tran-03);
    }

    .s_icon-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        font-size: 20px;
        box-sizing: unset;
        min-width: 20px;
        @include minWidth_B_radius();
        color: black;
    }


    .s_text {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
        flex: 70%;
        @include color_transition($text-color, $tran-03);
    }

    .s_menu-bar {
        height: calc(100% - 55px);
        overflow: hidden;
        @include flex_property(column, null, space-between);

        .s_menu-links {
            margin: 0;
            padding: 0;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .s_menu {
            margin-top: 20px;
        }

        .s_bottom-content {

            .s_toggle-switch {
                position: absolute;
                right: 0;
                height: 100%;
                min-width: 60px;
                @include flex_property(null, center, center);
                border-radius: 6px;
                cursor: pointer;

                .s_switch {
                    position: relative;
                    height: 22px;
                    width: 40px;
                    border-radius: 25px;
                    background-color: var(--toggle-color);
                    transition: var(--tran-05);

                    &::before {
                        content: '';
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        top: 50%;
                        left: 5px;
                        transform: translateY(-50%);
                        background-color: $sidebar-color;
                        transition: $tran-04;
                    }
                }
            }
        }
    }

    ~ {
        .s_home {
            // left: 78px;
            height: 100vh;
            width: calc(100% - var(--side-nav-width, $side-nav-width));
        }
    }
}

.s_home {
    // $side-nav-width: 250px;
    position: absolute;
    top: 0;
    top: 0;
    left: var(--side-nav-width, $side-nav-width);
    height: 100vh;
    width: calc(100% - var(--side-nav-width, $side-nav-width));
    background-color: $body-color;
    transition: $tran-05;

    .s_text {
        font-size: 30px;
        font-weight: 500;
        color: $text-color;
        padding: 12px 60px;
    }
}

@media only screen and (max-width: 425px) {
    .s_sidebar {
        &.s_close {
            width: 0px;
        }
    }
}